<footer>
    <div>
        <p>Rishikesh Yadav. All Rights Reserved</p>
    </div>

    <div id="footer-div-flex">
        <a href="/">Home</a>
        <a href="/users/profile">Profile</a>
    </div>
</footer>