#home-container {
  display: flex;
}

#home-container #feed-post {
  width: 70%;
  padding: 0.5rem;
}

#home-container #user-friends {
  padding: 0.5rem;
  border-left: 1px solid lightgray;
  min-height: 100vh;
}
